<tr>
  <td><%= link_to password_list.name, password_list %></td>
  <td><%= password_list.created_at.strftime("%b %e, %Y at %l:%M %p") %></td>
  <td class="centered"><%= password_list.agencies.count %></td>
  <td class="centered"><%= link_to "Edit", edit_password_list_path(password_list), :class => "action" %>
      <%= link_to "Delete", password_list, 
                            :method => :delete, 
                            :data => { :confirm => "Are you sure?" },
                            :class => "action danger" %>
  </td>
  <td>
    <% if password_list.has_been_delivered? %>
       <span class="delivered">&#10003; Delivered</span>
    <% end %>
  </td>
</tr>